@using TiketKarbord.Controllers.Unit;
@{
    ViewBag.Title = "لیست ارجاعات";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
</style>
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card" style="margin-top:0px;">
            <div class="header">
                <div class="form-inline focused">
                    <strong id="title_Tiket" style="margin-left: 5px; margin-right: 5px;"></strong>
                    <div id="buttom-header-dropdown" class="row header-dropdown m-r--5">
                        <a id="refreshTiket" class="">
                            <img src="/Content/img/list/streamline-icon-synchronize-arrows-1@48x48.png" width="20" height="20" style="margin-left: 10px;">
                        </a>
                    </div>
                </div>

                <!-- <h2><strong id="title_Tiket">ارجاعات پرونده دریافتی</strong></h2>
                 <select id="DocBMode" data-bind="event:{ change: $root.DocBModeChange}"></select>-->


            </div>
            <div class="body">


                <div data-bind="foreach: DocXB_LastList" data-dismiss="modal" style="cursor: default;">

                    <div class="card" style="margin:15px 5px 15px 5px" data-bind="style:{ 'background-color' : RjReadSt == 0 ? 'white' : '#fff3e9' }">

                        <div class="card-body" style="padding-top: 0px;padding-left: 0px;padding-right: 0px;">

                            <div class="card-title" style="margin-bottom: 2px;">
                                <p id="modeChat" class="card-title-erja" data-bind="style:{ 'background-color' :  ChatMode == 1 && ChatActive == true ? '#4bff32' : ChatMode == 1 ? '#cf50d3' : ChatFinish == true ? 'red' : '#e87f22' }">
                                    <span data-bind="text: ChatMode == 1 && ChatActive == true ? 'چت فعال' : ChatMode == 1 ? 'درخواست چت' : ChatFinish == true ? 'پایان چت' : 'تیکت' "></span>
                                </p>
                            </div>

                            <div class="card-text" style="padding:0px 10px 0px 10px">

                                <div class="row">
                                    <p style="padding-left:15px"> <span>شماره :</span> <span data-bind="text: DocNo"></span></p>
                                    <p style="padding-left:15px"> <span>تاریخ :</span> <span data-bind="text: DocDate"></span></p>
                                </div>

                                <p><span>ملاحظات :</span> <span data-bind="text: Spec "></span></p>
                                <p><span>ارجاع دهنده :</span> <span data-bind="text: FromUserName "></span></p>
                                <p><span>ارجاع شونده :</span> <span data-bind="text: ToUserName "></span></p>
                                <a data-bind="click: $root.ViewErjDocTiket" class="btn btn-primary pull-left">نمایش</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="modal fade" id="modal-ErjDocTiket" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-entesab" style="max-width: 1100px;">
            <div class="modal-content">
                <div class="modal-header" style="padding-bottom: 0px;">
                    <a id="Close_ErjDocTiket">
                        <span aria-hidden="true" style="font-size:20px">&times;</span>
                    </a>
                    <h4 class="modal-title">تیکت</h4>
                    <div>
                        <!--<a id="OtherField" data-bind="attr: {title:text_OtherField}" class="dropdown-toggle" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#modal-OtherField" style="margin-left: 10px;">
                        <img src="/Content/img/sanad/paper-write.png" width="20" height="20"> </a>-->
                    </div>
                </div>
                <div class="modal-body" style="padding-left: 0px;padding-right: 0px;">
                    <div class="row">
                        <div class="col-md col-sm">
                            <div style="height:500px;overflow:auto;border: 1px #ddd solid;border-radius: 20px;">
                                <div class="cardErj">
                                    <div class="header" style="background-color: #f5d3b4;">
                                        <div class="row form-inline modal-header" style="padding:0px;">
                                            <a id="ShowHideInformation">

                                            </a>
                                            <h6>اطلاعات پرونده</h6>
                                        </div>
                                    </div>
                                    <div class="body" style="padding-top: 10px;padding-left: 2px;padding-bottom: 2px;padding-right: 2px;">
                                        <div>
                                            <div class="row form-inline ">
                                                <div class="row col-md-12">
                                                    <div class="col-md-3 col-sm-12">
                                                        <div class="form-group form-float">
                                                            <div class="form-line focused fix">
                                                                <input type="text" id="p_docno" class="form-control int" readonly />
                                                                <label class="form-label">شماره</label>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-3 col-sm-12">
                                                        <div class="input-group">
                                                            <div class="input-group-addon">
                                                                <span class="input-group-btn">
                                                                    <a id="btnp_DocDate">
                                                                        <img src="/Content/img/list/calendar.png" data-bind="attr: {title:text_Date}" class="icon" height="20" width="20" />
                                                                    </a>
                                                                </span>
                                                            </div>
                                                            <div class="form-group form-float">
                                                                <div class="form-line focused fix">
                                                                    <input id="p_DocDate" data-bind="value:p_DocDate" class="form-control date" type="text" maxlength="10">
                                                                    <label class="form-label" for=""> تاریخ تیکت</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-3 col-sm-12">
                                                        <div class="form-group form-float">
                                                            <div class="form-line focused fix">
                                                                <input type="text" id="p_EghdamName" class="form-control" readonly />
                                                                <label class="form-label" id="amounttext">اقدام</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 col-sm-12">
                                                        <div class="form-group form-float">
                                                            <div class="form-line focused fix">
                                                                <input type="text" id="p_TanzimName" class="form-control" readonly />
                                                                <label class="form-label">تنظیم</label>
                                                            </div>
                                                        </div>
                                                    </div>


                                                </div>


                                                <div class="row col-md-12">

                                                    <div class="col-md-6 col-sm-12">
                                                        <div class="form-group form-float">
                                                            <div class="form-line focused fix">
                                                                <input type="text" id="p_NameCust" class="form-control" readonly />
                                                                <label class="form-label">مشتری</label>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6 col-sm-12">
                                                        <div class="form-group form-float">
                                                            <div class="form-line focused fix">
                                                                <input type="text" id="p_Motaghazi" class="form-control" readonly />
                                                                <label class="form-label">متقاضی</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row col-md-12" style="margin-top:2px">

                                                    <div class="col-md-3 col-sm-6" style="margin-bottom:0px">
                                                        <div class="form-group form-float">
                                                            <div class="form-line focused fix">
                                                                <input type="text" id="p_Status" class="form-control" readonly />
                                                                <label class="form-label">وضعیت</label>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-3 col-sm-6" style="text-align: left;padding: 0px 10px 0px 10px;">
                                                        <div class="row">
                                                            <input id="ActiveChat" type="checkbox" disabled>
                                                            <label for="ActiveChat">چت فعال شود</label>

                                                        </div>
                                                    </div>


                                                </div>
                                                <div class="row col-md-12" style="margin-top:2px">
                                                    <div class="row col-md-12 col-sm-12">
                                                        <div class="form-group form-float">
                                                            <div class="form-line focused fix">
                                                                <input type="text" id="p_Spec" class="form-control autocomplete" />
                                                                <label class="form-label" data-bind="text:translate('ملاحظات')"></label>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="panel_Result">
                                        <div class="header" style="background-color: #f5d3b4;">
                                            <div class="row form-inline modal-header" style="padding:0px;">
                                                <div>
                                                    <a id="ShowHideResult">
                                                        <img id="imgResult" src="~/Content/img/new item/minus-svgrepo-com.svg" style="width:16px" />
                                                    </a>
                                                    <a id="ShowResult">
                                                        <img src="~/Content/img/sanad/streamline-icon-pencil-write-3-alternate@48x48.png" style="width:16px" />
                                                    </a>
                                                </div>
                                                <h6>نتیجه</h6>

                                            </div>
                                        </div>
                                        <div class="body" style="padding:10px;">

                                            <div class="form-group" style="margin-bottom: 0.5rem;">
                                                <div class="form-line">
                                                    <textarea rows="1" id="Result" class="form-control no-resize auto-growth string autocomplete"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div id="P_BodyErjDocXErja" class="col-md-6 col-sm-12">
                            <div id="BodyErjDocXErja" style="height:500px;overflow:auto;border: 1px #ddd solid;border-radius: 20px;">

                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row  form-inline ">
                            <div class="col-md-9 col-sm-12 row">

                            </div>

                            <div id="P_Action" class="col-md-3 col-md-12">
                                <button data-bind="text:translate('ارجاع')" type="button" id="SendDocXK" class="btn btn-primary  pull-left dropdown-toggle" style=" margin-left: 8px;"><i class="fa fa-sign-in fa-lg fa-fw"></i></button>
                                <button data-bind="text:translate('چت')" type="button" id="OpenChat" class="btn btn-primary  pull-left " style=" margin-left: 8px;"><i class="fa fa-sign-in fa-lg fa-fw"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="modal fade" id="modal-Erja" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-entesab">
            <div class="modal-content">
                <div class="modal-header">
                    <a id="Close_ModalErj" data-bind="attr: {title:text_Close}">
                        <span aria-hidden="true" style="font-size:20px">&times;</span>
                    </a>
                    <h4 class="modal-title" id="titleSaveErja"></h4>
                    <div></div>
                </div>
                <div class="modal-body">
                    <div class="form-group" style="margin-bottom: 0.5rem;">
                        <div class="cardErj">
                            <div class="row">
                                <div class="col-md">
                                    <div class="header" style="background-color: #f5d3b4;">
                                        <div class="row form-inline modal-header" style="padding:0px;">
                                            <h6>متن ارجاعی از شما</h6>
                                        </div>
                                    </div>
                                    <div class="body" style="padding:10px;">

                                        <div class="form-group" style="margin-bottom: 0.5rem;">
                                            <div class="form-line">
                                                <textarea rows="25" id="e_Result" class="form-control no-resize auto-growth string"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div>
                    <div class="row  form-inline ">
                        <div class="col-md-12 row">
                            <div class="col-md-4 col-sm-12">
                                <div class="form-inline">
                                    <div class="form-group">
                                        <select id="p_ErjUser" data-bind="options: ErjUsersList,
                                                           optionsText: function(item) {return item.Name},
                                                           optionsValue: 'Code'" style="font-size:11px"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 row" style="margin-left: 0px;margin-right: 0px;">
                                <!-- <p>زمان صرف شده</p> -->
                                <div class="col-md-6">
                                    <div class="form-group form-float">
                                        <div class="form-line fix">
                                            <input id="RjTime_M" class="form-control int" style="margin-bottom: 0px" />
                                            <label class="form-label active">دقیقه</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group form-float">
                                        <div class="form-line fix">
                                            <input id="RjTime_H" class="form-control int" style="margin-bottom: 0px" />
                                            <label class="form-label active">ساعت</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-5 col-sm-6 pull-left">
                                <button data-bind="text:translate('ثبت ارجاع')" type="button" id="saveErja" class="btn btn-primary  pull-left"><i class="fa fa-sign-in fa-lg fa-fw"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @section scripts{
        <script type="text/javascript">

            $('#btnazDocDate').MdPersianDateTimePicker({
                targetTextSelector: '#azDocDate',
                dateFormat: 'yyyy-MM-dd',
                Placement: 'bottom', // default is 'bottom'
                Trigger: 'focus', // default is 'focus',
                EnableTimePicker: true, // default is true,
                TargetSelector: '', // default is empty,
                GroupId: '', // default is empty,
                ToDate: false, // default is false,
                FromDate: false, // default is false,
            });

            $('#btntaDocDate').MdPersianDateTimePicker({
                targetTextSelector: '#taDocDate',
                dateFormat: 'yyyy-MM-dd',
                Placement: 'bottom', // default is 'bottom'
                Trigger: 'focus', // default is 'focus',
                EnableTimePicker: true, // default is true,
                TargetSelector: '', // default is empty,
                GroupId: '', // default is empty,
                ToDate: false, // default is false,
                FromDate: false, // default is false,
            });

            $('#btnazRjDate').MdPersianDateTimePicker({
                targetTextSelector: '#azRjDate',
                dateFormat: 'yyyy-MM-dd',
                Placement: 'bottom', // default is 'bottom'
                Trigger: 'focus', // default is 'focus',
                EnableTimePicker: true, // default is true,
                TargetSelector: '', // default is empty,
                GroupId: '', // default is empty,
                ToDate: false, // default is false,
                FromDate: false, // default is false,
            });


            $('#btntaRjDate').MdPersianDateTimePicker({
                targetTextSelector: '#taRjDate',
                dateFormat: 'yyyy-MM-dd',
                Placement: 'bottom', // default is 'bottom'
                Trigger: 'focus', // default is 'focus',
                EnableTimePicker: true, // default is true,
                TargetSelector: '', // default is empty,
                GroupId: '', // default is empty,
                ToDate: false, // default is false,
                FromDate: false, // default is false,
            });

            $('#btnazMhltDate').MdPersianDateTimePicker({
                targetTextSelector: '#azMhltDate',
                dateFormat: 'yyyy-MM-dd',
                Placement: 'bottom', // default is 'bottom'
                Trigger: 'focus', // default is 'focus',
                EnableTimePicker: true, // default is true,
                TargetSelector: '', // default is empty,
                GroupId: '', // default is empty,
                ToDate: false, // default is false,
                FromDate: false, // default is false,
            });

            $('#btntaMhltDate').MdPersianDateTimePicker({
                targetTextSelector: '#taMhltDate',
                dateFormat: 'yyyy-MM-dd',
                Placement: 'bottom', // default is 'bottom'
                Trigger: 'focus', // default is 'focus',
                EnableTimePicker: true, // default is true,
                TargetSelector: '', // default is empty,
                GroupId: '', // default is empty,
                ToDate: false, // default is false,
                FromDate: false, // default is false,
            });

            $('#btnRjMhltDate').MdPersianDateTimePicker({
                targetTextSelector: '#RjMhltDate',
                dateFormat: 'yyyy-MM-dd',
                Placement: 'bottom', // default is 'bottom'
                Trigger: 'focus', // default is 'focus',
                EnableTimePicker: true, // default is true,
                TargetSelector: '', // default is empty,
                GroupId: '', // default is empty,
                ToDate: false, // default is false,
                FromDate: false, // default is false,
            });

            $('#ToUser').val(sessionStorage.userName);

            //'use strict';
            $(function () {
                $('.dd').nestable();
                $('.dd').on('change', function () {
                    var $this = $(this);
                    var serializedData = window.JSON.stringify($($this).nestable('serialize'));
                    $this.parents('div.body').find('textarea').val(serializedData);
                });
            });
        </script>
        <script src="~/Content/new/js/form.min.js"></script>
        <script src="~/Content/new/js/advanced-form-elements.js"></script>
        <script src="~/Content/new/js/jszip.min.js"></script>
        <script src="~/Scripts/Tiket.js?dt=@(TiketKarbord.Controllers.Unit.UnitPublic.titleVerNumber)"></script>
    }





